@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

html {
  display:flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.textocarregamento{
  font-size: 1.6rem;;
  font-family: 'Potta One',cursive, sans-serif;
  color: #fff;
  margin-top: 3.5em;
}
.totalpilha{
  display:flex;
  align-items: center;
  justify-content:center;
  width: 100vw;
  height:100px;
}
body{
  width:400px;
  height: 350px;
  background-color: #212121;
  box-shadow: .5rem .5rem 0 #fab700;
  border: 3px solid #fab700;
  border-radius: 4px;  
  display:flex;
  align-items: center;  
  flex-direction: column;
}
.pilha{
  position: relative;
  width: 200px;
  height: 40px;
  border: 4px solid #000;
  border-radius: 5px;
  display:flex;
  flex-direction: row;
  padding: 1px;
  align-items: center;
  background: #000;
}
.bicopilha{
  width:10px;
  height:10px;
  background-color:#000;
}
span{
  display:block;
  border-radius:3px;
  margin: 1px;
  width: 40px;
  height:40px;
  background: #1cff37;
  animation: pilha 1.5s  infinite linear;
}
span:nth-child(2){
left:0px;
animation-delay: .2s;
}
span:nth-child(3){
left:22px;
animation-delay: .4s;
} 
span:nth-child(4){
left:33px;
animation-delay: .6s;
}
span:nth-child(5){
left:44px;
animation-delay: .8s;
}
@keyframes pilha {
    0% 
  {transform:scale(0px);background:#000;}
    100% 
  {transform:scale(10px);background:#1cff37;}
}