html{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: #212121;
  flex-direction: column;
}
*{
  box-sizing: border-box;
  margin: 0;
}
.zooImg{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pseudo{
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #006af550;
  opacity: 0;
}
#result{
  opacity: 0;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#image{
  display: flex;
}
