html{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: #212121;
  flex-direction: column;
}
*{
  box-sizing: border-box;
  margin: 0;
}
.zoomImg{
  position:relative;
}
.pseudo{
  width: 99px;
  height: 99px;
  border: 1px solid #ff0000;
  position: absolute;
}
#result{
  border: 1px solid #fff;
  background-repeat: no-repeat;
}
